Repository OWASP/mastg, changes with the labels that .github/labeler.yml gives for each.
All labels: iOS, Android, MASVS-STORAGE, MASVS-CRYPTO, MASVS-AUTH, MASVS-NETWORK, MASVS-PLATFORM, MASVS-CODE, MASVS-RESILIENCE, tests, fundamentals, techniques, tools

.github/labeler.yml:

# LABEL List for workflow/labeler.yml
iOS:
- Document/0x06*

Android:
- Document/0x05*

"MASVS-STORAGE":
- Document/0x05d*
- Document/0x06d*

"MASVS-CRYPTO":
- Document/0x05e*
- Document/0x06e*

"MASVS-AUTH":
- Document/0x05f*
- Document/0x06f*

"MASVS-NETWORK":
- Document/0x05g*
- Document/0x06g*

"MASVS-PLATFORM":
- Document/0x05h*
- Document/0x06h*

"MASVS-CODE":
- Document/0x05i*
- Document/0x06i*

"MASVS-RESILIENCE":
- Document/0x05j*
- Document/0x06j*

tests:
- Document/0x05d*
- Document/0x05e*
- Document/0x05f*
- Document/0x05g*
- Document/0x05h*
- Document/0x05i*
- Document/0x05j*
- Document/0x06d*
- Document/0x06e*
- Document/0x06f*
- Document/0x06g*
- Document/0x06h*
- Document/0x06i*
- Document/0x06j*

fundamentals:
- Document/0x05a*
- Document/0x05b*
- Document/0x06a*
- Document/0x06b*

techniques:
- Document/0x05c*
- Document/0x06c*

tools:
- Document/0x08*

Add event name to allowlist gate in workflow
  .github/workflows/moderator.yml
Labels: none

Update .github/workflows/moderator.yml
  .github/workflows/moderator.yml
Labels: none

Update Document/0x05a-Platform-Overview.md
  Document/0x05a-Platform-Overview.md
Labels: Android, fundamentals

Add fixes from code review
  tests-beta/ios/MASVS-NETWORK/MASTG-TEST-0321.md
  tests-beta/ios/MASVS-NETWORK/MASTG-TEST-0323.md
Labels: none

Refactor moderator workflow to use event payload
  .github/workflows/moderator.yml
Labels: none

Apply suggestions from code review
  techniques/android/MASTG-TECH-0032.md
  tests/android/MASVS-RESILIENCE/MASTG-TEST-0045.md
Labels: none

Refactor execution tracing documentation: enhance jdb section and streamline Android Studio Profiler content
  techniques/android/MASTG-TECH-0032.md
Labels: none

Enhance execution tracing documentation: clarify jdb usage and improve Android Studio Profiler section
  techniques/android/MASTG-TECH-0032.md
Labels: none

Enhance execution tracing documentation: expand strace usage details and provide syscall filtering examples
  techniques/android/MASTG-TECH-0032.md
Labels: none

Apply suggestions from code review
  techniques/android/MASTG-TECH-0032.md
Labels: none

Apply suggestions from code review
  techniques/android/MASTG-TECH-0032.md
Labels: none

Apply suggestions from code review
  techniques/android/MASTG-TECH-0032.md
Labels: none

Update Document/0x05a-Platform-Overview.md
  Document/0x05a-Platform-Overview.md
Labels: Android, fundamentals

Initial frooky addition and migration
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/hooks.js
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/run.sh
  demos/android/MASVS-PRIVACY/MASTG-DEMO-0081/hooks.js
  demos/android/MASVS-PRIVACY/MASTG-DEMO-0081/run.sh
  demos/android/MASVS-STORAGE/MASTG-DEMO-0059/hooks.js
  demos/android/MASVS-STORAGE/MASTG-DEMO-0059/run.sh
  demos/android/MASVS-STORAGE/MASTG-DEMO-0060/hooks.js
  demos/android/MASVS-STORAGE/MASTG-DEMO-0060/run.sh
  tools/generic/MASTG-TOOL-0145.md
  utils/frida/android/android_decoder.js
  utils/frida/android/base_script.js
  utils/frida/android/native_decoder.js
  utils/frida/android/run.sh
  utils/frida/ios/base_script.js
  utils/frida/ios/run.sh
Labels: none

Use JSON format and rename files
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/hooks.json
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/output.json
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/run.sh
  demos/android/MASVS-PRIVACY/MASTG-DEMO-0081/hooks.json
  demos/android/MASVS-PRIVACY/MASTG-DEMO-0081/run.sh
  demos/android/MASVS-STORAGE/MASTG-DEMO-0059/hooks.json
  demos/android/MASVS-STORAGE/MASTG-DEMO-0059/run.sh
  demos/android/MASVS-STORAGE/MASTG-DEMO-0060/hooks.json
  demos/android/MASVS-STORAGE/MASTG-DEMO-0060/run.sh
  tools/generic/MASTG-TOOL-0145.md
Labels: none

Change DEMOs to use JSON format
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/MASTG-DEMO-0058.md
  demos/android/MASVS-PRIVACY/MASTG-DEMO-0081/MASTG-DEMO-0081.md
  demos/android/MASVS-STORAGE/MASTG-DEMO-0059/MASTG-DEMO-0059.md
  demos/android/MASVS-STORAGE/MASTG-DEMO-0060/MASTG-DEMO-0060.md
Labels: none

Add wrappers for running Frooky on Android and iOS demos in a centralized directory. In that directory the nodejs modules would be generated
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/run.sh
  demos/android/MASVS-PRIVACY/MASTG-DEMO-0081/run.sh
  demos/android/MASVS-STORAGE/MASTG-DEMO-0059/run.sh
  demos/android/MASVS-STORAGE/MASTG-DEMO-0060/run.sh
  utils/frooky/.gitignore
  utils/frooky/run-android.sh
  utils/frooky/run-ios.sh
Labels: none

Apply suggestions from code review
  .gitignore
  techniques/android/MASTG-TECH-0143.md
Labels: none

Undo new line
  .gitignore
Labels: none

Inline frooky
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/run.sh
  demos/android/MASVS-PRIVACY/MASTG-DEMO-0081/run.sh
  demos/android/MASVS-STORAGE/MASTG-DEMO-0059/run.sh
  demos/android/MASVS-STORAGE/MASTG-DEMO-0060/run.sh
  utils/frooky/.gitignore
  utils/frooky/run-android.sh
  utils/frooky/run-ios.sh
Labels: none

Fix md errors
  techniques/android/MASTG-TECH-0142.md
  techniques/android/MASTG-TECH-0143.md
Labels: none

0058 output
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/output.json
Labels: none

0058 output formatted
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0058/output.json
Labels: none

DEMO-0081
  demos/android/MASVS-PRIVACY/MASTG-DEMO-0081/output.json
Labels: none

DEMO-0059
  demos/android/MASVS-STORAGE/MASTG-DEMO-0059/MasSharedPref_Sensitive_Data.xml
  demos/android/MASVS-STORAGE/MASTG-DEMO-0059/output.json
Labels: none

DEMO-0060
  demos/android/MASVS-STORAGE/MASTG-DEMO-0060/MasSharedPref_Sensitive_Data.xml
  demos/android/MASVS-STORAGE/MASTG-DEMO-0060/output.json
Labels: none

updated changes
  demos/android/MASVS-CODE/MASTG-DEMO-0x34/MASTG-DEMO-0x34.md
  demos/android/MASVS-CODE/MASTG-DEMO-0x34/output.txt
  rules/mastg-android-object-deserialization.yml
  tests-beta/android/MASVS-CODE/MASTG-TEST-0x34.md
Labels: none

updated Markdown files
  demos/android/MASVS-CODE/MASTG-DEMO-0x36-1/MASTG-DEMO-0x36-1.md
  demos/android/MASVS-CODE/MASTG-DEMO-0x36/MASTG-DEMO-0x36.md
  tests-beta/android/MASVS-CODE/MASTG-TEST-0x36-1.md
  tests-beta/android/MASVS-CODE/MASTG-TEST-0x36.md
Labels: none

updated Markdown files
  demos/android/MASVS-CODE/MASTG-DEMO-0x36-1/MASTG-DEMO-0x36-1.md
  demos/android/MASVS-CODE/MASTG-DEMO-0x36/MASTG-DEMO-0x36.md
Labels: none

updated files
  demos/android/MASVS-CODE/MASTG-DEMO-0x36-1/MASTG-DEMO-0x36-1.md
  demos/android/MASVS-CODE/MASTG-DEMO-0x36/MASTG-DEMO-0x36.md
Labels: none

updated files
  demos/android/MASVS-CODE/MASTG-DEMO-0x36-1/MainActivity.kt
  demos/android/MASVS-CODE/MASTG-DEMO-0x36/MainActivity.kt
Labels: none

Refine documentation for Android KeyStore and Key Attestation, improving clarity and consistency. Add https://www.android-device-security.org/database/
  knowledge/android/MASVS-STORAGE/MASTG-KNOW-0043.md
  knowledge/android/MASVS-STORAGE/MASTG-KNOW-0044.md
Labels: none

Deprecate MASTG-TEST-0034 and add new serialization test MASTG-TEST-0307 with demo MASTG-DEMO-0071
  Document/0x08a-Testing-Tools.md
  Document/0x08b-Reference-Apps.md
  demos/android/MASVS-CODE/MASTG-DEMO-0050/.gradle/8.14/checksums/checksums.lock
  demos/android/MASVS-CODE/MASTG-DEMO-0050/.gradle/8.14/fileChanges/last-build.bin
  demos/android/MASVS-CODE/MASTG-DEMO-0050/.gradle/8.14/fileHashes/fileHashes.bin
  demos/android/MASVS-CODE/MASTG-DEMO-0050/.gradle/8.14/fileHashes/fileHashes.lock
  demos/android/MASVS-CODE/MASTG-DEMO-0050/.gradle/8.14/gc.properties
  demos/android/MASVS-CODE/MASTG-DEMO-0050/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  demos/android/MASVS-CODE/MASTG-DEMO-0050/.gradle/buildOutputCleanup/cache.properties
  demos/android/MASVS-CODE/MASTG-DEMO-0050/.gradle/nb-cache/trust/9AB98EDA26EE2BD39EB2AAA401B4C6C073E60608FC3813E1AB47D17C305DDC32
  demos/android/MASVS-CODE/MASTG-DEMO-0050/.gradle/vcs-1/gc.properties
  demos/android/MASVS-STORAGE/MASTG-DEMO-0071/MASTG-DEMO-0071.md
  demos/android/MASVS-STORAGE/MASTG-DEMO-0071/MastgTest.kt
  demos/android/MASVS-STORAGE/MASTG-DEMO-0071/output.txt
  demos/android/MASVS-STORAGE/MASTG-DEMO-0071/run_after.sh
  demos/android/MASVS-STORAGE/MASTG-DEMO-0071/run_before.sh
  mkdocs.yml
  tests-beta/android/MASVS-STORAGE/MASTG-TEST-0307.md
Labels: tools

lint fix and added Prepared statement
  best-practices/MASTG-BEST-XXXX.md
  demos/android/MASVS-CODE/MASTG-DEMO-00XX/MASTG-DEMO-00XX.md
  techniques/android/MASTG-TECH-XXXX.md
Labels: none

lint fix
  best-practices/MASTG-BEST-XXXX.md
Labels: none

Update instruction
  .github/instructions/mastg-frida-scripts.instructions.md
  .github/instructions/mastg-frooky-hooks.instructions.md
Labels: none

Fix markdown table formatting (MD060)
  Document/0x04f-Testing-Network-Communication.md
  Document/0x04h-Testing-Code-Quality.md
  Document/0x05b-Android-Security-Testing.md
  knowledge/android/MASVS-PLATFORM/MASTG-KNOW-0018.md
  knowledge/ios/MASVS-NETWORK/MASTG-KNOW-0071.md
  knowledge/ios/MASVS-RESILIENCE/MASTG-KNOW-0087.md
  tools/android/MASTG-TOOL-0005.md
  tools/ios/MASTG-TOOL-0126.md
Labels: Android, fundamentals

Replace non-descriptive link text (MD059)
  Document/0x05a-Platform-Overview.md
  apps/android/MASTG-APP-0011.md
  knowledge/android/MASVS-AUTH/MASTG-KNOW-0001.md
  knowledge/android/MASVS-STORAGE/MASTG-KNOW-0055.md
  techniques/android/MASTG-TECH-0131.md
  techniques/ios/MASTG-TECH-0055.md
  techniques/ios/MASTG-TECH-0088.md
  tests/android/MASVS-PLATFORM/MASTG-TEST-0028.md
  tests/ios/MASVS-PLATFORM/MASTG-TEST-0069.md
  tools/generic/MASTG-TOOL-0108.md
  tools/network/MASTG-TOOL-0097.md
Labels: Android, fundamentals

Fix curly apostrophes in instructions and CODE_OF_CONDUCT
  .github/CODE_OF_CONDUCT.md
  .github/instructions/mastg-apps.instructions.md
  .github/instructions/mastg-best-practice.instructions.md
  .github/instructions/mastg-demo.instructions.md
  .github/instructions/mastg-frida-scripts.instructions.md
  .github/instructions/mastg-mitmproxy-scripts.instructions.md
  .github/instructions/mastg-r2-scripts.instructions.md
  .github/instructions/mastg-rules.instructions.md
  .github/instructions/porting-mastg-v1-tests-to-v2.instructions.md
Labels: none

Remove trailing commas
  .markdownlint.jsonc
Labels: none
