Repository OWASP/mastg, pull requests merged in 2020-11, with the labels that each got.

#1843 0x08 - Consolidating Testing Tools
  Document/0x04c-Tampering-and-Reverse-Engineering.md
  Document/0x04e-Testing-Authentication-and-Session-Management.md
  Document/0x04f-Testing-Network-Communication.md
  Document/0x05b-Basic-Security_Testing.md
  Document/0x05c-Reverse-Engineering-and-Tampering.md
  Document/0x05d-Testing-Data-Storage.md
  Document/0x05e-Testing-Cryptography.md
  Document/0x05h-Testing-Platform-Interaction.md
  Document/0x05i-Testing-Code-Quality-and-Build-Settings.md
  Document/0x05j-Testing-Resiliency-Against-Reverse-Engineering.md
  Document/0x06b-Basic-Security-Testing.md
  Document/0x06c-Reverse-Engineering-and-Tampering.md
  Document/0x06d-Testing-Data-Storage.md
  Document/0x06g-Testing-Network-Communication.md
  Document/0x06h-Testing-Platform-Interaction.md
  Document/0x06i-Testing-Code-Quality-and-Build-Settings.md
  Document/0x06j-Testing-Resiliency-Against-Reverse-Engineering.md
  Document/0x08-Testing-Tools.md
  Templates/testcase.md
Labels: Tools

#1816 0x06c Restructure basic information gathering
  Document/0x06c-Reverse-Engineering-and-Tampering.md
Labels: iOS

#1852 Intro to Bytecode Viewer
  Document/0x05i-Testing-Code-Quality-and-Build-Settings.md
  Document/0x05j-Testing-Resiliency-Against-Reverse-Engineering.md
  Document/0x06i-Testing-Code-Quality-and-Build-Settings.md
  Document/0x06j-Testing-Resiliency-Against-Reverse-Engineering.md
  Document/0x08-Testing-Tools.md
  style_guide.md
Labels: Android, Tools

#1849 0x05d Refactor - Chapter Overview
  Document/0x05d-Testing-Data-Storage.md
Labels: Android, New Approach

#1825 Added description of RMS tool
  Document/0x05c-Reverse-Engineering-and-Tampering.md
  Document/0x05e-Testing-Cryptography.md
  Document/0x08-Testing-Tools.md
Labels: Tools
