Repository OWASP/mastg, pull requests merged in 2022-03, with the labels that each got.

#2085 Increase Checklist Test Coverage Including Tests from the 0x04* Chapters
  .github/workflows/docgenerator.yml
  tools/scripts/mstg_to_html.sh
  tools/scripts/yaml_to_excel.py
Labels: errata

#2086 Add checklists to release.yml
  .github/release.yml
Labels: ignore-for-release

#2092 [Regression Test] pandocker 21.02
  tools/docker/pandoc_makedocs.sh
Labels: org, ignore-for-release

#2094 Fix typo and add emojis for the release
  .github/release.yml
Labels: ignore-for-release
