Repository OWASP/mastg, pull requests merged in 2023-08, with the labels that each got.

#2430 Update MASTG-TEST-0087 "Make Sure That Free Security Features Are Activated"
  tests/ios/MASVS-CODE/MASTG-TEST-0087.md
Labels: MASVS-RESILIENCE, MASVS-CODE

#2427 Proofreading fixes 0x05d part 1
  Document/0x05d-Testing-Data-Storage.md
Labels: Android, MASVS-STORAGE, tests

#2426 Proofreading fixes 0x05e part 1
  Document/0x05e-Testing-Cryptography.md
Labels: Android, MASVS-CRYPTO, tests

#2433 Fix Profiles Image
  docs/assets/news/mas_profiles.png
Labels: ignore-for-release

#2390 Taint analysis for Android Java code
  Document/0x05c-Reverse-Engineering-and-Tampering.md
Labels: Android, techniques
