Repository OWASP/mastg, pull requests merged in 2023-02, with the labels that each got.

#2361 Add OHRUS to Good Samaritan Donators
  Document/Images/Donators/donators.png
  docs/donate.md
Labels: donation

#2364 Fix MASVS Links
  docs/MASVS.md
Labels: ignore-for-release

#2362 Add otool command to 0x06i-Testing-Code-Quality-and-Build-Settings.md
  Document/0x06i-Testing-Code-Quality-and-Build-Settings.md
Labels: iOS, MASVS-CODE

#2363 Fix Broken Link in 0x06c-Reverse-Engineering-and-Tampering.md
  Document/0x06c-Reverse-Engineering-and-Tampering.md
Labels: errata

#2366 Fix donators pic
  docs/donate.md
  mkdocs.yml
Labels: ignore-for-release

#2373 Fix code formatting issue
  Document/0x06c-Reverse-Engineering-and-Tampering.md
Labels: iOS, techniques

#2381 [Phase 1] Refactor Testing-Code-Quality.md
  Document/0x04h-Testing-Code-Quality.md
  Document/0x05i-Testing-Code-Quality-and-Build-Settings.md
  Document/0x06i-Testing-Code-Quality-and-Build-Settings.md
Labels: Android, iOS, MASVS-CODE, tests

#2383 Add overview to Code Chapters
  Document/0x05i-Testing-Code-Quality-and-Build-Settings.md
  Document/0x06i-Testing-Code-Quality-and-Build-Settings.md
Labels: Android, iOS, MASVS-CODE, ignore-for-release, tests

#2380 [Phase 1] Platform interaction refactor
  Document/0x06c-Reverse-Engineering-and-Tampering.md
  Document/0x06h-Testing-Platform-Interaction.md
Labels: Android, iOS, MASVS-AUTH, MASVS-PLATFORM, fundamentals, tests

#2382 [Phase 1] Android Resilicene chapter, theory moved up
  Document/0x05j-Testing-Resiliency-Against-Reverse-Engineering.md
  Document/0x06j-Testing-Resiliency-Against-Reverse-Engineering.md
Labels: Android, iOS, MASVS-RESILIENCE, tests

#2377 [Phase 1] Refactor Local-authentication.md #2372
  Document/0x05f-Testing-Local-Authentication.md
  Document/0x06f-Testing-Local-Authentication.md
Labels: Android, iOS, MASVS-AUTH, fundamentals, tests

#2378 [Phase 1] Refactor Testing-Network-Communication.md
  Document/0x04f-Testing-Network-Communication.md
  Document/0x05g-Testing-Network-Communication.md
  Document/0x06g-Testing-Network-Communication.md
Labels: Android, iOS, MASVS-NETWORK, tests

#2372 [Phase 1] Refactor Testing-Cryptography.md
  Document/0x04g-Testing-Cryptography.md
  Document/0x05e-Testing-Cryptography.md
  Document/0x06e-Testing-Cryptography.md
Labels: iOS, MASVS-CRYPTO, tests

#2379 [Phase 1] Refactor Testing-Data-Storage.md
  Document/0x05d-Testing-Data-Storage.md
  Document/0x06d-Testing-Data-Storage.md
Labels: Android, iOS, MASVS-STORAGE, tests

#2326 Add iOS tcpdump instructions to 0x06b and related mitmproxy reference to 0x08a
  Document/0x06b-Basic-Security-Testing.md
  Document/0x08a-Testing-Tools.md
Labels: iOS, tools, fundamentals
