Repository OWASP/mastg, pull requests merged in 2023-01, with the labels that each got.

#2325 Remove deprecated method from iOS sample code
  Document/0x06d-Testing-Data-Storage.md
Labels: iOS, MASVS-STORAGE, tests

#2340 Feature/conscrypt for old api
  Document/0x05e-Testing-Cryptography.md
Labels: Android, MASVS-CRYPTO, tests

#2342 Add Dynamic Pages Support
  .github/workflows/build-website.yml
  docs/assets/data/talks.yaml
  docs/stylesheets/extra.css
  docs/talks.md
  requirements.txt
  tools/scripts/populate_dynamic_pages.py
Labels: automation

#2347 Add eShard to Good Samaritan Donators
  Document/Images/Donators/donators.png
  docs/assets/donations/donators.png
Labels: donation

#2348 Add missing talks
  docs/assets/data/talks.yaml
Labels: ignore-for-release

#2349 Proofreading fixes part 7 0x05c
  Document/0x05c-Reverse-Engineering-and-Tampering.md
Labels: Android, errata

#2351 Proofreading fixes 0x05d part 1
  Document/0x05d-Testing-Data-Storage.md
Labels: Android, MASVS-STORAGE, tests

#2350 Proofreading fixes part 8 0x05c
  Document/0x05c-Reverse-Engineering-and-Tampering.md
Labels: Android, techniques

#2358 Proofreading fixes 0x05d part 2
  Document/0x05d-Testing-Data-Storage.md
Labels: Android, MASVS-STORAGE, tests

#2300 0x05h - Android pendingintent
  Document/0x05h-Testing-Platform-Interaction.md
Labels: Android, MASVS-PLATFORM, tests

#2056 Issue #2052 - Implicit Intent Injection
  Document/0x05h-Testing-Platform-Interaction.md
Labels: Android, MASVS-PLATFORM, tests

#2296 #2295 [MSTG-CODE-2] Add a static analysis method (codesign/ldid)
  Document/0x06i-Testing-Code-Quality-and-Build-Settings.md
Labels: iOS, MASVS-CODE, tests
