Repository OWASP/mastg, pull requests merged in 2023-07, with the labels that each got.

#2423 Update Android permission protection levels and introduced risk categories
  .github/workflows/spell-checker.yml
  Document/0x05h-Testing-Platform-Interaction.md
Labels: Android, MASVS-PLATFORM, tests

#2424 Introducing the new MAS Testing Profiles and MASTG Atomic Tests proposals
  docs/assets/news/mas_profiles.png
  docs/assets/news/mastg_tests_refactoring.png
  docs/news.md
Labels: news

#2413 Proofreading fixes 0x05d part 3
  Document/0x05d-Testing-Data-Storage.md
Labels: Android, MASVS-STORAGE, tests

#2432 Update build-website.yml to fix masvs build
  .github/workflows/build-website.yml
  README.md
Labels: ignore-for-release
