Repository OWASP/mastg, pull requests merged in 2024-12, with the labels that each got.

#3030 Port MASTG test 0019 (by @guardsquare)
  tests-beta/android/MASVS-NETWORK/MASTG-TEST-0233.md
  tests-beta/android/MASVS-NETWORK/MASTG-TEST-0234.md
  tests-beta/android/MASVS-NETWORK/MASTG-TEST-0235.md
  tests-beta/android/MASVS-NETWORK/MASTG-TEST-0236.md
  tests-beta/android/MASVS-NETWORK/MASTG-TEST-0237.md
  tests-beta/android/MASVS-NETWORK/MASTG-TEST-0238.md
  tests-beta/android/MASVS-NETWORK/MASTG-TEST-0239.md
  tests/android/MASVS-NETWORK/MASTG-TEST-0019.md
Labels: MASTG Refactor

#3087 Update the list of permissions (up to API level 35)
  Document/0x05h-Testing-Platform-Interaction.md
Labels: Android, MASVS-PLATFORM

#3093 Update MASTG-TEST-0237.md - Fix new line
  tests-beta/android/MASVS-NETWORK/MASTG-TEST-0237.md
Labels: ignore-for-release

#3095 Update MASTG-TECH-0063.md fix Tool ID
  techniques/ios/MASTG-TECH-0063.md
Labels: ignore-for-release
