Repository OWASP/mastg, pull requests merged in 2024-10, with the labels that each got.

#2906 Update MASTG-TECH-0054.md
  techniques/ios/MASTG-TECH-0054.md
Labels: iOS, techniques

#2916 Fix broken links in MASTG-TEST-0028
  tests/android/MASVS-PLATFORM/MASTG-TEST-0028.md
Labels: Android, MASVS-PLATFORM, tests

#2918 Add Frida replacing xposed to MASTG-TEST-0023
  tests/android/MASVS-NETWORK/MASTG-TEST-0023.md
Labels: MASVS-NETWORK, tests

#2923 Update MASTG-DEMO-0008 (Title)
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0008/MASTG-DEMO-0008.md
Labels: ignore-for-release

#2924 Update MASTG-DEMO-0019 (Title)
  demos/ios/MASVS-STORAGE/MASTG-DEMO-0019/MASTG-DEMO-0019.md
Labels: ignore-for-release

#2926 Update MASTG-DEMO-0019.md
  demos/ios/MASVS-STORAGE/MASTG-DEMO-0019/MASTG-DEMO-0019.md
Labels: ignore-for-release

#2860 Add MASWE-PRIVACY Weaknesses
  weaknesses/MASVS-PRIVACY/MASWE-0109.md
  weaknesses/MASVS-PRIVACY/MASWE-0110.md
  weaknesses/MASVS-PRIVACY/MASWE-0111.md
  weaknesses/MASVS-PRIVACY/MASWE-0112.md
  weaknesses/MASVS-PRIVACY/MASWE-0113.md
  weaknesses/MASVS-PRIVACY/MASWE-0114.md
  weaknesses/MASVS-PRIVACY/MASWE-0115.md
Labels: MASVS-PRIVACY, MASWE
