Repository OWASP/mastg, pull requests merged in 2024-09, with the labels that each got.

#2869 Deprecate [MASWE-0013] and add [MASTG-TEST-0210] and [MASTG-DEMO-0015] Hardcoded Cryptographic Keys in Code (by appknox)
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0015/MASTG-DEMO-0015.md
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0015/MastgTest.kt
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0015/MastgTest_reversed.java
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0015/output.txt
  demos/android/MASVS-CRYPTO/MASTG-DEMO-0015/run.sh
  rules/mastg-android-hardcoded-crypto-keys-usage.yml
  tests-beta/android/MASVS-CRYPTO/MASTG-TEST-0210.md
  weaknesses/MASVS-CRYPTO/MASWE-0013.md
Labels: MASVS-CRYPTO, MASWE

#2863 [MASWE-0019] Potentially Weak Cryptography Implementations
  weaknesses/MASVS-CRYPTO/MASWE-0019.md
Labels: MASVS-CRYPTO, MASWE

#2879 [MASTG-TEST-0210, MASTG-TEST-0211, MASTG-DEMO-0014, MASTG-DEMO-0015, MASTG-DEMO-0016] New Tests and Demos
  .gitignore
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/MASTG-DEMO-0014.md
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/MASTestApp
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/MastgTest.swift
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/cccrypt.r2
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/evaluation.txt
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/output.txt
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/run.sh
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0015/MASTG-DEMO-0015.md
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0015/MASTestApp
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0015/MastgTest.swift
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0015/cchash.r2
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0015/output.txt
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0015/run.sh
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0016/MASTG-DEMO-0016.md
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0016/MASTestApp
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0016/MastgTest.swift
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0016/cryptokit_hash.r2
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0016/output.txt
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0016/run.sh
  tests-beta/ios/MASVS-CRYPTO/MASTG-TEST-0210.md
  tests-beta/ios/MASVS-CRYPTO/MASTG-TEST-0211.md
Labels: MASWE

#2781 [MASWE-0014] Add Cryptographic Keys Not Properly Protected at Rest
  .gitignore
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0013/MASTG-DEMO-0013.md
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0013/MASTestApp
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0013/MastgTest.swift
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0013/function.asm
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0013/key.asm
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0013/output.asm
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0013/run.sh
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0013/sec_hardcoded_rsa.r2
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/MASTG-DEMO-0014.md
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/MASTestApp
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/MastgTest.swift
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/cryptokit_hardcoded_ecdsa.r2
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/evaluation.txt
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/function.asm
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/key.asm
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/output.asm
  demos/ios/MASVS-CRYPTO/MASTG-DEMO-0014/run.sh
  tests-beta/ios/MASVS-CRYPTO/MASTG-TEST-0213.md
  tests-beta/ios/MASVS-CRYPTO/MASTG-TEST-0214.md
  weaknesses/MASVS-AUTH/MASWE-0036.md
  weaknesses/MASVS-CRYPTO/MASWE-0014.md
  weaknesses/MASVS-STORAGE/MASWE-0005.md
Labels: MASVS-CRYPTO, MASWE

#2899 Update make-donation.yml
  .github/ISSUE_TEMPLATE/make-donation.yml
Labels: ignore-for-release

#2900 Add Promon to Good Samaritan Donators
  Document/Images/Donators/donators.png
Labels: donation

#2897 Added connecting Burp via HTTP Tookit
  techniques/android/MASTG-TECH-0109.md
Labels: techniques
